<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ceshi</title>
</head>
<body>
	<p>sssttt</p>
	<div>
		ceshi 
	</div>
	<p>ccc</p>
	<script src="/js/index.js"></script>
</body>
</html>